<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  <style>
  body{width: 50%;
  margin:auto;}
  </style>
  </head>
  <body align="center">
    <div>
      <h2>Why i created this website</h2>
      <p>Lot's of times we have to count out words for different assignments. Some time we have to send a fixed word documents to our professors and some time we have to check plugarism. So here i created this site for you guys to calculate the length of your text and also how many words you have in the text and repetation of words. Thank you so much for visiting us and hopw you enjoyed this experience.</p>
    </div>

  </body>
</html>
